<%= form_for @new_tag do |form| %>
  <%= render "error_messages", target: @new_tag %>
  <div>
    <%= form.text_field :text, placeholder: 'tag word' %>
  </div>

  <%= form.submit %>
<% end %>

<ul>
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.text, tag %>
      <% unless tag.image_count.zero? %>
        -- <%= pluralize(tag.image_count, 'image') %>
      <% end %>
    </li>
  <% end %>
</ul>
