<%= form_for @new_tag do |form| %>
  <%= render "error_messages", target: @new_tag %>
  <div>
    <%= form.text_field :text, placeholder: 'tag word' %>
  </div>

  <%= form.submit %>
<% end %>

<h2>Tags with images:</h2>
<ul>
  <% @tags_with_images.each do |tag| %>
    <li>
      <%= link_to tag.text, tag %> -- <%= pluralize(tag.image_count, 'image') %>
    </li>
  <% end %>
</ul>

<h2>Tags <em>without</em> images:</h2>
<ul>
  <% @tags_with_images.each do |tag| %>
    <li><%= link_to tag.text, tag %></li>
  <% end %>
</ul>
