<h2>This is a page for the <%= @gallery.name %> gallery.</h2>

<%= link_to "Add a new image", new_gallery_image_path(@gallery) %>

<p><%= @gallery.description %></p>

<ul>
  <% @gallery.images.each do |image| %>
    <li><%= image_tag image.url %>
    <%= link_to image.name, gallery_image_path(@gallery, image) %></li>
  <% end %>
</ul>
