<%= form_for [gallery, image] do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div>
    <h2>Tags:</h2>
    <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :text %>
  </div>

  <div>
    <br />
    <%= form.submit %>
  </div>
<% end %>
